:root {
    --primary-color: #1f3036;
    --accent-color: #364d55;
    --tertiary-color: #0e2220;
    --hover-color:#e4e4e9;
    --border-color: #b0d0cd;
}

.head {
    display: flex;
    flex-direction: row;
    margin: 5px;
    justify-content: space-evenly;
    gap: 6px;
    align-items: center;
}

.heading {
    color: var(--primary-color);
    margin-inline-start: 10px;
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.form {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputs {
    border: 2px solid var(--border-color);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
}

.buttons {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(91 90 92);
}

input {
    all: unset;
    border-bottom: 2px solid var(--border-color);
    padding: 5px;
    line-height: 25px;
    width: 95%;
    font-weight: 600;
    color: var(--tertiary-color);
}

textarea {
    all: unset;
    padding: 5px;
    height: 40px;
    font-weight: 600;
    color: var(--tertiary-color);
}   

button {
    all: unset;
    color: var(--primary-color);
    font-size: medium;
    font-weight: 600;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: all 0.5s ease;
    width: max-content;
}

button:hover {
    background-color: var(--hover-color);
}

#status {
    color: var(--tertiary-color);
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}